/* Estilo básico */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff6f61;
    color: #fff;
    padding: 1em;
  
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

main {
    padding: 2em;
    text-align: center;
}

form {
    margin-bottom: 2em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: auto;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #ff6f61;
    color: white;
}

td {
    text-align: left;
}

footer {
    background-color: #ff6f61;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
